version: "3.9"

services:
  backend:
    build: ./server
    ports:
      - "3000:3000"
    restart: always

  frontend:
    build: ./client
    ports:
      - "4173:4173"
    environment:
      - VITE_SOCKET_URL=http://localhost:3000
    depends_on:
      - backend

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: orders_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
